@media screen and (max-width:1150px){
  
  .container {
    width: 950px;
  }

}

@media screen and (max-width:1024px){
  
  .container {
    width: 850px;
  }

  
.sobre-web-design figcaption img {
  width: 600px;
}

}


@media screen and (max-width:915px){
  
  body {
    background-position: left top;
    background-color: #b1f4ff;
  }

  .container {
    width: 700px;
  }

  .sobre-web-design figcaption img {
    width: 500px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .header nav{
    margin: 30px 0px;
  }

  .sobre-web-design article {
    width: 100%;
  }

  .sobre-web-design figcaption img {
    width: 100%;
    margin: 30px 0 0 0;
  }

  footer ul.row {
    flex-direction: row;
    justify-content: center;
  }

  footer ul li {
    margin: 0px 15px 0 15px;
  }

}

@media screen and (max-width:665px){
  
  .container {
    width: 400px;
  }

}


@media screen and (max-width:450px){
  
  .container {
    width: 290px;
  }

  .header nav {
    background: #fff;
    width: 100%;
    padding: 10px 0px 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  .header nav ul {
    flex-direction: column;
  }

  .header nav ul li {
    margin: 10px 0;
  }

}
